[submodule "lib/scanpy_helpers"]
	path = lib/scanpy_helpers
	url = git@gitlab.i-med.ac.at:icbi-lab/tools/scanpy_helpers.git
[submodule "lib/pygenesig"]
	path = lib/pygenesig
	url = git@github.com:grst/pygenesig.git
[submodule "lib/CIBERSORT"]
	path = lib/CIBERSORT
	url = git@github.com:grst/CIBERSORT.git
