Data
data
Models
report
.ipynb_checkpoints
rik_kernel*
scratch
.vscode
deploy
*.ipynb
.pytest_cache
.nextflow*
work
results
containers
analyses/**/figures
analyses/**/MOFA_out
analyses/.r_console_wrapper.sh
.Rhistory
data_iHet_predictions
analyses/10_mofa/15_iHet_predictions.html
