params {
    regulon_net = "collectri" // can bei either "collectri" or "dorothea"
    outdir = "data/results_log1ptpm_scaled_${ regulon_net }_wmean_unscaled"
    // whether to run the single-cell clustering or use the precomputed values instead.
    // The clustering is not fully reproducible on all systems and may lead to cell-type labels being mixed up
    // breaking all downstream analyses.
    run_clustering = false
    precomputed_adata_annotated = "data/results/20_single_cell/22_annotate_myeloid/artifacts"
    // flag to include tracerx data in the results directory
    // unfortunately, tracerx data must not be published - this flag activates a pipeline run that excludes this data.
    include_tracerx = true
    bulk_input_dir = "data/01_processed/${ params.include_tracerx ? "bulk_rna_seq" : "bulk_rna_seq_no_tracerx" }"
    publish_dir_mode = "link"
    singularity_pull_docker_container = false

    modules {
        "P12_prepare_mofa_data" {
            publish_dir = "${ params.include_tracerx ? '10_mofa' : '10_mofa_no_tracerx' }/12_prepare_mofa_data"
        }
        "P14_mofa_analysis" {
            publish_dir = "${ params.include_tracerx ? '10_mofa' : '10_mofa_no_tracerx' }/14_mofa_analysis"
        }
    }
}

process {
    containerOptions = "--no-home"
    withName: P11_easier {
//        container = "containers/2021-nsclc_heterogeneity-easier.sif"
        conda = "/home/sturm/apps/micromamba/envs/2021-nsclc_heterogeneity_r"
        memory = 8.GB
        publishDir = [ path: { "${params.outdir}/${ params.include_tracerx ? '10_mofa' : '10_mofa_no_tracerx' }/${ meta.id }" }, mode: params.publish_dir_mode ]
        ext.regulon_net = { "${params.regulon_net}" }
    }
    withName: P12_prepare_mofa_data {
//        container = "containers/2021-nsclc_heterogeneity-mofa.sif"
        container = null
        conda = "/home/sturm/apps/micromamba/envs/2021-nsclc_heterogeneity_r"
        memory = 8.GB
    }
    withName: P13_run_mofa {
//        containerOptions = "" // needs home mounted for basilisk cache (which isn't used, but it complains if the directory is missing)
//        container = "containers/2021-nsclc_heterogeneity-mofa.sif"
        container = null
        conda = "/home/sturm/apps/micromamba/envs/2021-nsclc_heterogeneity_r"
        memory = 2.GB
        publishDir = [ path: { "${params.outdir}/${ params.include_tracerx ? '10_mofa' : '10_mofa_no_tracerx' }/${ meta.id }" }, mode: params.publish_dir_mode ]
    }
    withName: P14_mofa_analysis {
        memory = 8.GB
        conda = "/home/sturm/apps/micromamba/envs/2021-nsclc_heterogeneity_r"
//        container = "containers/2021-nsclc_heterogeneity-mofa.sif"
        container = null
    }

    withName: "W20_single_cell:JUPYTER.*" {
        ext.kernel = "python3"
        publishDir = [ path: { "${params.outdir}/20_single_cell/${meta.id}/" }, mode: params.publish_dir_mode ]
        conda = "/home/sturm/apps/micromamba/envs/2021-nsclc_heterogeneity_r"
        container = "containers/2021-nsclc-heterogeneity-scanpy2.sif"
        maxForks = 1 // my poor laptop can't handle multiple of these processes simultaneouslya
    }
    withName: "JUPYTER_SUBSET_ATLAS|JUPYTER_ANNOTATE_MYELOID|JUPYTER_TF_PW" {
        cpus = 16
    }
}

singularity.enabled = true
singularity.autoMounts = true
// injection to fix issue with Centos 7 container and ptys
singularity.runOptions = "--env MKL_NUM_THREADS=1,OPENBLAS_NUM_THREADS=1,OMP_NUM_THREADS=1,LD_PRELOAD=\$(pwd)/inject.so"
resume = true
conda.enabled = true
conda.useMicromamba  = true
