params {
    outdir = "data/results"
    deploy_dir = "deploy/Ab1MxvlS9c56BaA0Z94J"
    publish_dir_mode = "link"
    enable_conda = true
    singularity_pull_docker_container = false

    modules {
        "P12_prepare_mofa_data" {
            publish_dir = "10_mofa/12_prepare_mofa_data"
        }
        "P14_mofa_analysis" {
            publish_dir = "10_mofa/14_mofa_analysis"
        }
    }
}

process {
    containerOptions = "--no-home"
    withName: P11_easier {
        // conda = "/data/scratch/sturm/conda/envs/2021-nsclc_heterogeneity-easier"
        conda = null
        container = "containers/2021-nsclc_heterogeneity-easier.sif"
    }
    withName: P12_prepare_mofa_data {
        // conda = "/data/scratch/sturm/conda/envs/2021-nsclc_heterogeneity-mofa"
        conda = null
        container = "containers/2021-nsclc_heterogeneity-mofa.sif"
    }
    withName: P13_run_mofa {
        // conda = "/data/scratch/sturm/conda/envs/2021-nsclc_heterogeneity-mofa"
        conda = null
        container = "containers/2021-nsclc_heterogeneity-mofa.sif"
    }
    withName: P14_mofa_analysis {
        // conda = "/data/scratch/sturm/conda/envs/2021-nsclc_heterogeneity-mofa"
        conda = null
        container = "containers/2021-nsclc_heterogeneity-mofa.sif"
    }

    withName: "W20_single_cell:JUPYTER.*" {
        ext.kernel = "python3"
        publishDir = [ path: { "${params.outdir}/20_single_cell/${meta.id}/" }, mode: params.publish_dir_mode ]
        // conda = "/data/scratch/sturm/conda/envs/2021-nsclc-heterogeneity-scanpy2"
        conda = null
        container = "containers/2021-nsclc-heterogeneity-scanpy2.sif"
    }
    withName: "JUPYTER_SUBSET_ATLAS|JUPYTER_ANNOTATE_MYELOID|JUPYTER_TF_PW" {
        cpus = 16
    }
}

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = "--env MKL_NUM_THREADS=1,OPENBLAS_NUM_THREADS=1,OMP_NUM_THREADS=1"
resume = true
